In [48]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [49]:
url='https://www.amazon.ae/gp/aw/d/B0CLLV2T1P/?_encoding=UTF8&pd_rd_plhdr=t&aaxitk=6be6a6774e44057af9bb7ff13921f9cf&hsa_cr_id=0&qid=1748764363&sr=1-1-e0fa1fdd-d857-4087-adda-5bd576b25987&ref_=sbx_be_s_sparkle_lsi4d_asin_0_bkgd&pd_rd_w=MNDP4&content-id=amzn1.sym.5c27a550-05a0-4f4f-b075-daf9509b9f36%3Aamzn1.sym.5c27a550-05a0-4f4f-b075-daf9509b9f36&pf_rd_p=5c27a550-05a0-4f4f-b075-daf9509b9f36&pf_rd_r=3GDX09ZR7AG8CAQ9WGQX&pd_rd_wg=a9Tqr&pd_rd_r=017e3f52-d787-46e6-827e-13c8d3161a08'
headers={ "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"}

page = requests.get(url,headers=headers)
soup1= BeautifulSoup(page.content,'html.parser')

soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

title = soup2.find(id="productTitle").get_text().strip()

price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'


print(title)
print(price)

ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum, Ceramide, Hyaluronic Acid, Vitamin B12 Natural color, Korean Glass Skin, Fragrance-Free, Korean Skincare, 30ml /1.01 fl.oz.
AED60.00

In [50]:
#removing the aed from the price
price=price[3:]

print(title)
print(price)

ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum, Ceramide, Hyaluronic Acid, Vitamin B12 Natural color, Korean Glass Skin, Fragrance-Free, Korean Skincare, 30ml /1.01 fl.oz.
60.00

In [54]:
import datetime
date=datetime.date.today()
print(date)

2025-06-01

In [55]:
import csv

header = ['Title','Price(AED)','Date']
data = [title, price,date]

#with open('AmazonWebScrapperDataset.csv','w',newline='',encoding='UTF8') as f:
    #writer=csv.writer(f)
    #writer.writerow(header)
    #writer.writerow(data)

In [56]:
import pandas as pd

df=pd.read_csv(r"C:\Users\affan\AmazonWebScrapperDataset.csv")
df

                                               Title  Price(AED)        Date
0  ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum...        60.0  2025-06-01

In [58]:
#appending data to the csv
with open('AmazonWebScrapperDataset.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data) (#executed it twice so the data set has repeated twice)

In [59]:
import pandas as pd

df=pd.read_csv(r"C:\Users\affan\AmazonWebScrapperDataset.csv")
df

                                               Title  Price(AED)        Date
0  ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum...        60.0  2025-06-01
1  ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum...        60.0  2025-06-01
2  ANUA 10% Niacinamide+ 4% Tranexamic Acid Serum...        60.0  2025-06-01

In [60]:
#Automating this process by creating a function

def price_check():
    url='https://www.amazon.ae/gp/aw/d/B0CLLV2T1P/?_encoding=UTF8&pd_rd_plhdr=t&aaxitk=6be6a6774e44057af9bb7ff13921f9cf&hsa_cr_id=0&qid=1748764363&sr=1-1-e0fa1fdd-d857-4087-adda-5bd576b25987&ref_=sbx_be_s_sparkle_lsi4d_asin_0_bkgd&pd_rd_w=MNDP4&content-id=amzn1.sym.5c27a550-05a0-4f4f-b075-daf9509b9f36%3Aamzn1.sym.5c27a550-05a0-4f4f-b075-daf9509b9f36&pf_rd_p=5c27a550-05a0-4f4f-b075-daf9509b9f36&pf_rd_r=3GDX09ZR7AG8CAQ9WGQX&pd_rd_wg=a9Tqr&pd_rd_r=017e3f52-d787-46e6-827e-13c8d3161a08'
    headers={ "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"}

    page = requests.get(url,headers=headers)
    soup1= BeautifulSoup(page.content,'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

    title = soup2.find(id="productTitle").get_text().strip()

    price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
    price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
    price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
    price = f'{price_symbol}{price_whole}{price_fraction}'
    price=price[3:]

    import datetime
    date=datetime.date.today()

    import csv
    header = ['Title','Price(AED)','Date']
    data = [title, price,date]

    with open('AmazonWebScrapperDataset.csv','a+',newline='',encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    price_check()
    time.sleep(86400)

In [ ]:
import pandas as pd

df=pd.read_csv(r"C:\Users\affan\AmazonWebScrapperDataset.csv")
df